body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-column {
  width: 50%;
  padding: 20px;
}

.contact-column p {
  margin: 0;
}

.skills-column, .projects-column, .education-column, .experience-column, .interests-column {
  width: 25%;
  padding: 20px;
}

.skills-column ul, .projects-column ul, .education-column ul, .experience-column ul, .interests-column ul {
  list-style-type: none;
  padding: 0;
}

.skills-column ul li, .projects-column ul li, .education-column ul li, .experience-column ul li, .interests-column ul li {
  margin-bottom: 10px;
}
