body {
    font-family: Arial, sans-serif;
  }
  
  .skills-column {
    width: 425px;
  }

  .skills-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  
  .skills-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  
  .skills-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-column li {
    color: #cfe6e6;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px;
    border-radius: 8px;
    background-color: #7f9195;
  }
  
