body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}
title {
  margin-bottom: -10px;
}
  header {
    text-align: center;
  }
  .contact-column {
    display: flex;
    background-color: #04242b;
    color: #ffffff;
    border-radius: 7px;
    width: 100%;
  }
  .contact-info-left, .contact-info-right {
    flex: 1;
  }
  .contact-info-left p, .contact-info-right p {
    margin: 10px;
  }
  .contact-column a, a:hover {
    color: #ffffff;
  }
  .location-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: 8px;
  }
  .location-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .location-button a:hover {
    color: grey;
  }
  .location-icon {
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
  .email-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 8px;
  }
  .email-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .email-button a:hover {
    color: grey;
  }
  .email-icon {
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
  .phone-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 8px;
  }
  .phone-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .phone-icon {
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
  .github-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .github-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .github-button a:hover {
    color: grey;
  }
  .github-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .things-column {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 10px;
    margin-top: 30px;
  }
  p {
    font-size: 14px;
    margin-left: 6px;
  }
  .left-column, .right-column {
    flex: 1;
  }
  .right-column {
    margin-left: 15px;
  }
  .education-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  .education-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  .enrolled-text {
    font-weight: bold;
    font-size: 17px;
    margin: 0px;
    margin-left: 5px;
  }
  .school-text {
    margin: 0px;
    font-size: 16px;
    margin-left: 5px;
  }
  .school-date {
    margin: 0px;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 5px;
    color: grey;
    margin-bottom: 5px;
  }
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 11.75px;
  }
  
  ol li::before {
    content: '\2022';
    color: blue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-bottom: 2px;
  }
  .projects-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  .projects-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  .projects-column p {
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .language-column {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 340px;
  }
  
  .languages-button {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
  }
  
  .languages-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  
  .language-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .language-row {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .language-2 {
    margin-bottom: -3px;
    margin-top: 0px;
  }
  
  .language {
    margin-left: 5px;
    font-size: 12px;
    margin-top: 5px;
    color: grey;
  }
  
  .skills-column {
    width: 350px;
  }
  .skills-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }
  .skills-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  .skills-column ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
  }
  .skills-column li {
    color: #ffffff;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px;
    border-radius: 8px;
    background-color: #7f9195;
    margin-right: 2px;
  }
  .certificates-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  .certificates-icon {
    width: 35px;
    height: 35px;
    margin-right: 11px;
  }
  .certificates-column a {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: -10px;
    margin-top: -5px;
  }
  .certificates-column a:hover {
    color: grey;
  }
  .interests-column {
    width: 365px;
  }
  .interests-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  .interests-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .interests-column ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
  }
  .interests-column li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    margin-right: 2px;
  }
  
  @media (max-width: 600px) {
    .contact-column {
      width: 100%;
      flex-direction: column;
    }
    .skills-column {
      width: 100%;
      margin-left: -15px;
    }
    .certificates-column {
      margin-left: -15px;
    }
    .interests-column {
      margin-left: -15px;
    }
    .language-column {
      width: 100%;
      flex-direction: column;
    }
    .language-info {
      flex-direction: column;
    }
    .things-column {
      flex-direction: column;
    }
  }  
